# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración del editor
.vscode/
.idea/
*.swp

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Archivos de entorno
.env

env/

tensorflow_env/